@base_color : #F5F5F5;
@color1 : #FFAA00;
@color2 : spin(hsl(hue(@base_color), 33%, 66%),180); 
@background_color: @base_color;
@background_dark: @base_color; 
@menu_color: @base_color; 
@text_color: darken(@base_color, 40%);
@text_color_hover: @color1; 
@border_color: darken(@base_color, 20%);

body {
  background-color: @background_dark;
  color: @text_color;
}


/*******************/
/* Generic Classes */
/*******************/
a {
  color: @text_color;
  text-decoration: none;
  &:hover,
  &:focus {
    color: @text_color_hover;
  }
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: @text_color;
}

ul {
  list-style: none;
}

@font-face {
  font-family: 'naive';
  src: url('../font/naive.eot'); /* IE9 Compatibility Modes */
  src: url('../font/naive.eot?') format('eot'),  /* IE6-IE8 */
  url('../font/naive.woff') format('woff'), /* Modern Browsers */
  url('../font/naive.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../font/naive.svg#naive') format('svg'); /* Legacy iOS */
}


.icon {
  &:before{
    color:inherit;
    font-family: "naive";
    text-transform: none;
    margin: 0 3px;
  }
  
  &.search:before { content: 'f'; }
  &.pen:before { content: 'b'; }
  &.comment:before { content: 'c'; }
  &.eye:before { content: 'e'; }
  &.new:before { content: 'n'; }
  &.play:before { content: 'p'; }
  &.pause:before { content: 'q'; }
  &.rss:before { content: 'r'; }
  &.stop:before { content: 's'; }
  &.check:before { content: 'v'; }
  &.x:before { content: 'x'; }
  &.plus:before { content: '+'; }
  &.minus:before { content: '-'; }
  &.next:before { content: '\203A'; }
  &.prev:before { content: '\2039'; }
  &.first:before { content: '\00AB'; }
  &.last:before { content: '\00BB'; }
  &.star:before { content: '\22C6'; }
}

button,
.button,
.submit {
  padding: 0.3em 0.8em;
  margin-right: 5px;
  background-color: darken(@background_color, 3%);
  border: 1px solid darken(@background_color, 10%);
  color: @text_color;
  cursor: pointer;
  &:hover{
    color: @text_color_hover;
  }
}

form {
  fieldset {
    border: 1px solid @border_color;
  }
  label{
    margin-right: 0.2em;
    display: inline-block;
    margin: 0.5em 0;
    width: 200px;
  }
  ul {
    padding-left: 0;
  }
  .inline_fields {
    padding-left: 0; //to remove default blueprint style on ul
    label {
      width: auto;
    }
    li {
      float: left;
      margin-right: 1.5em;
    }
  }
  input[type="text"],
  input[type="password"],
  textarea,
  select {
    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    .border-radius(3px, 3px, 3px, 3px);
    .box-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.1) inset);
    margin: 0.5em 0;
    background-color: white;
    border: 1px solid @border_color;
    color: @text_color;
  }
  input[type="checkbox"],
  input[type="radio"] {
    vertical-align: middle;
  }
  input[readonly]{
    color: lighten(@text_color, 25%);
  }
}

table{
  /* nullify default blueprint background color */
  tr:nth-child(2n) td,
  tr.even td {
    background: darken(@background_color, 8%);
  }
}

.rot(@angle) {
  -webkit-transform: rotate(@angle);
  -moz-transform: rotate(@angle);
  -ms-transform: rotate(@angle);
  -o-transform: rotate(@angle);
  transform: rotate(@angle);
}

.rot-90 {
  .rot(90deg);
}

.rot-270 {
  .rot(270deg);
}

.error, .alert, .notice, .success, .info {
  margin: 1em;
}

.inline {
  display: inline;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.right {
  float: right;
}

.left {
  float: left;
}

.box-shadow (@x: 0, @y: 0, @blur: 1px, @color: @text_color) {
  box-shadow        : @arguments;
  -moz-box-shadow   : @arguments;
  -webkit-box-shadow: @arguments;
}

.border-radius (@top, @right, @bottom, @left) {
  border-radius        : @arguments;
  -moz-border-radius   : @arguments;
  -webkit-border-radius: @arguments;
}

.gradient(@start: #000, @stop: #FFF) {
  background: -webkit-gradient(linear, left top, left bottom, from(@start), to(@stop));
  background: -webkit-linear-gradient(@start, @stop);
  background: -moz-linear-gradient(center top, @start 0%, @stop 100%);
  background: -moz-gradient(center top, @start 0%, @stop 100%);
}

.multicolumn (@count: 2, @gap: 1em, @width: 200px) {
  column-count: @count;
  -moz-column-count: @count;
  -webkit-column-count: @count;
  column-width: @width;
  -moz-column-width: @width;
  -webkit-column-width: @width;
  column-gap: @gap;
  -moz-column-gap: @gap;
  -webkit-column-gap: @gap;
}

.new {
  @c: @color2;
  color: @c;//#D7DF01;
  font-weight: normal; 
  text-shadow:0px 0px 2px lighten(@c, 20%);//#D7DF01;
  -webkit-text-shadow: 0px 0px 2px lighten(@c, 20%);
}

.arrow_list {
  li:before {
    content: "\00BB \0020"; //see http://www.artishock.net/coding/css-list-styling-using-ascii-special-characters/
    color: @color2;
    font-weight: bold;
  }
}

/**********/
/* header */
/**********/
header {
  font-weight: bold;
  text-transform: uppercase;
  font-variant: normal;
  padding: 1em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid @border_color;
  h2 {
    font-weight: bold;
  }
}

.header_notes {
  display: none;
}

#the_page {
  background-color: @background_dark;
}

#content,
#content_id {
  padding: 10px 30px 10px 30px;
  background-color: @background_color;
  &.one_col {
    margin-left    : 0;
  }
  &.two_col {
    margin-left    : @menubar_width;
  }
}

.titrePage {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.5em;
  h2 {
    margin         : 1em 0;
    display        : inline;
  }
}

.titrePage, .titrePage a, h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-variant: normal;
}


ul.categoryActions {
  float: right;
  li {
    display: inline-block;
    margin-right: 3px;
  }
  select {
    margin: 0; /*for the calendar view*/
  }
}

/***************************/
/* menubar and ImageInfoBar*/
/***************************/
@menubar_width: 250px;
@infobar_width: 280px;

#menubar {
  float: left;
  width: @menubar_width;
  background: @menu_color;
  h3 {
    text-transform: none;
  }
  div {
    margin: 1em;
  }
  ul {
    padding-left: 1em;
  }
}

#imageInfoBar {
  @padding: 10px;
  float: right;
  padding: @padding;
  width: @infobar_width - 2*@padding;
  background: @menu_color;
  h3 {
    margin: 1em 0;
  }
  ul {
    padding-left: 0
  }
}

.toggle_button {
  cursor: pointer;
  font-size: 2em;
  padding: 5px;
  margin: 0 10px;
  background: @menu_color;
  font-weight: normal;
  &:hover {
    color: @text_color_hover;
  }
}

#toggle_info_bar, #menuswitcher {
  margin-top: 20px;
  padding: 5px;
  .toggle_button;
}

#toggle_info_bar {
  display: none; //will only be shown with js
  float: right;
  border-right: 0;
}

#menuswitcher {
  display: none;
  float: left;
  margin-left: -1px;
}

#menuTagCloud li {
  display: inline-block;
  padding-right: 0.5em;
}

#quicksearch {
  fieldset{
    padding: 0;
  }
  input{
    background: url("../icon/search.png") no-repeat scroll 0.4em 0.4em transparent;
    padding: 0.4em 0 0.3em 2.5em;
    margin: 0.5em 0;
    color: @text_color;
    width: @menubar_width - 60px;
  }
}

#quickconnect {
  label {
    display: block;
    clear: both;
    width: @menubar_width / 2;
  }
  input[type="text"],
  input[type="password"] {
    width: 100%
  }
  input[type="checkbox"] {
    vertical-align: middle;
  }
  .inline {
    display: inline;
  }
}

/*************************/
/* categories thumbnails */
/*************************/
figure.category {
  float: left;
  width: 360px;
  height: 12em;
  padding: 10px;
  margin: 0 40px 10px 0;
  figcaption {
    width: 100%;
    margin: 5px;
    padding: 10px;
  }
}

.thumbnail {
   .box-shadow(0, 1px, 3px);
   margin: 10px;
}

.picture_item {
  float: left;
  margin: 12px;
  width: 150px;
  height: 180px;
  text-align: center;
  vertical-align: baseline;
}

.navigationBar {
  color: lighten(@text_color, 25%);
  a {
    color: @text_color;
  }
  .pageNumberSelected {
    color: @text_color;
    font-weight: bold;
  }
}

/***********/
/* Picture */
/***********/
@color_pict_border: #FFFFFF; 

.navButtons {
  color: lighten(@text_color, 25%);
  a {
    color: @text_color;
  }
}

#image_panel {
  padding: 30px;
  background-color: @background_color;
  &.one_col {
    margin-right: 0;
  }
  &.two_col {
    margin-right: @infobar_width;
  }
}

figure#image_wrapper {
  .box-shadow(0, 1px, 8px);
  background: @color_pict_border; /* Draw the picture's border */
  padding: 10px;
  margin-bottom: 20px;
  position: relative;         /* place the nav holder inside the picture */
  margin: auto;               /* center the picture */
  margin-bottom: 20px;
  figcaption {
      text-align: center;
      padding: 1em;
      .imageNumber {
        margin-top: -0.5em;   // this is relative to the figcation padding
      }
  }
}

#go_to_prev_holder, #go_to_next_holder{
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
}

#go_to_prev_holder{
    left: 0;
}
#go_to_next_holder{
    right: 0;
}

.arrow{ 
  display: none;
  background: none repeat scroll 0 0 @color_pict_border;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  color: @text_color;
  margin-top: -30px;
  position: absolute;
  top: 50%;
  padding: 2px 8px;
}

#go_to_prev {
  &.arrow {
    left: 0;
    .border-radius(0, 10px, 10px, 0);
  }
}

#go_to_next{
  &.arrow {
    right: 0;
    .border-radius(10px, 0, 0, 10px);
  }
}

.navButtons {
  font-weight: bold;
  text-align: center;
  .huge{
    font-size: 4em;
  }
}

#rateForm {
  margin: 0;
}
#rateForm input, #rateForm input:active {
  cursor: pointer;
  border: none;
  padding: 0;
}
#rateForm input.rateButtonStarFull  {
  background:  url('../icon/rating-stars.png') no-repeat scroll -16px center;
  width: 16px;
}
#rateForm input.rateButtonStarEmpty {
  background:  url('../icon/rating-stars.png') no-repeat scroll 0 center;
  width: 16px;
}

/************/
/* Comments */
/************/
#comments{
  h3 {
    margin-bottom: 1.5em;
  }
  ul.comment_list {
    margin: 0;
    padding: 0;
  }
  .comment {
    margin: 15px 0;
    background-color: lighten(@background_color, 3%);
    .border-radius(10px, 10px, 10px, 0px);
    padding: 1em;
    position: relative;
    .actions{
      position: absolute;
      top: 10px;
      right: 10px;
      a {
        .button;
      }
    }
    blockquote {
      padding-top: 20px;
    }
  }
  textarea {
    width: 98%;
  }
}

/*************/
/* Slideshow */
/*************/
.slideshow_body {
  background-color: black; 
  overflow: hidden;
  text-align: center;
}
.slideshow_buttons {
  position: fixed; 
  top: 10px; 
  right: 10px; 
}

/**********/
/* footer */
/**********/
footer {
  padding: 1em;  
  padding-top: 1.5em;
  border-top: 1px solid @border_color;
  clear: both;
  background-color: @background_dark;
}

/********/
/* tags */
/********/

#menuTagCloud {
  li {
    display: inline-block;
    padding-right: 0.5em;
  }
  //don't know why I need to repeat that ...
  a {
    &:hover,
    &:focus {
      color: @text_color_hover;
    }
  }
  @c: @text_color;
  .tagLevel5 {
    font-size: 130%;
    color: darken(@c, 20%);
  }
  .tagLevel4 {
    font-size: 120%;
    color: darken(@c, 10%);
  }
  .tagLevel3 {
    font-size: 110%;
    color: @c;
  }
  .tagLevel2 {
    font-size: 100%;
    color: lighten(@c, 10%);
  }
  .tagLevel1 {
    font-size: 90%;
    color: lighten(@c, 20%);
  }
}

#fullTagCloud {
  margin: 1em auto;
  position: relative;
  width: 90%;
  text-align: center;
  span {
    margin: 5px;
  }
  //don't know why I need to repeat that ...
  a {
    &:hover,
    &:focus {
      color: @text_color_hover;
    } 
  }
  @c: @text_color;
  .tagLevel5 { 
    font-size: 250%; 
    color: darken(@c, 20%);
  }
  .tagLevel4 { 
    font-size: 200%; 
    color: darken(@c, 10%);
  }
  .tagLevel3 { 
    font-size: 150%; 
    color: @c;
  }
  .tagLevel2 { 
    font-size: 100%; 
    color: lighten(@c, 10%);
  }
  .tagLevel1 { 
    font-size: 80%; 
    color: lighten(@c, 20%);
  }
}

#tags_by_letter{
  .multicolumn(auto, 2em, 250px);  
  .nbEntries {
    text-align: right;
  }
}

/**************************************/
/* begin chronology/calendar elements */
/**************************************/
.calendarViews {
  display: block;
  margin: 2px 0 0;
}

.calItem, 
.calItemEmpty {
  font-weight: bold;
  margin: 0 1px;
  border: 1px solid @text_color;
  padding: 0 0.2em;
}

.calItemEmpty {
  opacity: 0.4;
}

.calItem A { 
  border:0 
}

.calendarCalBar {
  margin: 10px;
  text-align: left;
}
.calendarBar {
  padding: 5px 20px 25px 20px;  
  font-weight: bold;
}

.calCalHead {
  font-weight: bold;
  font-size: 110%;
  margin: 0 2px;
}

.calCal { 
  margin: 0 2px; 
}

/******************************/
/* nice looking month calendar*/
/******************************/
@cell_dim : 80px; 
TABLE.calMonth {
  border: 0;
  border-collapse: collapse;
  margin-bottom: 10px;    /*<-IE ignores this */
  width: auto;
  margin: 0 auto;
  th, td {
    padding: 1px;  
    background: @background_color;
  }
  th {
    font-weight: bold;
    font-size: 12px;
    text-align: center;
  }

  td {
    height: @cell_dim;
    width: @cell_dim;
  }

  /* nullify default blueprint background color */
  tr:nth-child(2n) td, 
  tr.even td {
    background: @background_color;
  }
  tr:nth-child(2n) td.calDayCellEmpty, 
  tr.even td.calDayCellEmpty,
  tr:nth-child(2n) td.calDayCellFull,
  tr.even td.calDayCellFull {
    background: darken(@background_color, 8%);
  }

  TD.calDayCellFull, TD.calDayCellEmpty {
    vertical-align: top;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid @border_color;
  }

  .calImg {
    height: @cell_dim;
    width: @cell_dim;
    overflow: hidden;
    vertical-align: bottom;
    z-index: 1;
    position: relative; /*<- this required by IE*/
    img {
      position: relative;
      border: 0;
    }
  }

  .calDayCellFull span {
    color: #FFFFFF;
    text-shadow: 1px 1px 3px black; 
    padding-left: 5px;
    padding-top: 1px;
    position: absolute;
    vertical-align: top; 
    z-index: 2;
  }
}

/**********/
/* search */
/**********/
.tagSelection li {
  display: inline-block;
}

.categoryList {
  vertical-align: middle;
}
