body {
  background-color: #f5f5f5;
  color: #8f8f8f;
}
/*******************/
/* Generic Classes */
/*******************/
a {
  color: #8f8f8f;
  text-decoration: none;
}
a:hover, a:focus {
  color: #ffaa00;
}
h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: #8f8f8f;
}
ul {
  list-style: none;
}
form fieldset {
  border: 1px solid #c2c2c2;
}
form label {
  margin-right: 0.2em;
  display: inline-block;
  margin: 0.5em 0;
  width: 200px;
}
form ul {
  padding-left: 0;
}
form .inline_fields {
  padding-left: 0;
}
form .inline_fields label {
  width: auto;
}
form .inline_fields li {
  float: left;
  margin-right: 1.5em;
}
form input[type="text"],
form input[type="password"],
form textarea,
form select {
  -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  margin: 0.5em 0;
  background-color: white;
  border: 1px solid #c2c2c2;
  color: #8f8f8f;
}
form input[type="checkbox"], form input[type="radio"] {
  vertical-align: middle;
}
form input[readonly] {
  color: #cfcfcf;
}
table {
  /* nullify default blueprint background color */

}
table tr:nth-child(2n) td, table tr.even td {
  background: #e1e1e1;
}
.rot-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.rot-270 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.error,
.alert,
.notice,
.success,
.info {
  margin: 1em;
}
.inline {
  display: inline;
}
.center {
  margin: 0 auto;
  text-align: center;
}
.right {
  float: right;
}
.left {
  float: left;
}
.new {
  color: #8cc5c5;
  font-weight: normal;
  text-shadow: 0px 0px 2px #d0e7e7;
  -webkit-text-shadow: 0px 0px 2px #d0e7e7;
}
.arrow_list li:before {
  content: "\00BB \0020";
  color: #8cc5c5;
  font-weight: bold;
}
/**********/
/* header */
/**********/
header {
  font-weight: bold;
  text-transform: uppercase;
  font-variant: normal;
  padding: 1em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #c2c2c2;
}
header h2 {
  font-weight: bold;
}
.header_notes {
  display: none;
}
#the_page {
  background-color: #f5f5f5;
}
#content, #content_id {
  padding: 10px 30px 10px 30px;
  background-color: #f5f5f5;
}
#content.one_col, #content_id.one_col {
  margin-left: 0;
}
#content.two_col, #content_id.two_col {
  margin-left: 250px;
}
.titrePage {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.5em;
}
.titrePage h2 {
  margin: 1em 0;
  display: inline;
}
.titrePage, .titrePage a, h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-variant: normal;
}
ul.categoryActions {
  float: right;
}
ul.categoryActions li {
  display: inline-block;
  margin-right: 3px;
}
ul.categoryActions select {
  margin: 0;
  /*for the calendar view*/

}
/***************************/
/* menubar and ImageInfoBar*/
/***************************/
#menubar {
  float: left;
  width: 250px;
  background: #f5f5f5;
}
#menubar h3 {
  text-transform: none;
}
#menubar div {
  margin: 1em;
}
#menubar ul {
  padding-left: 1em;
}
#imageInfoBar {
  float: right;
  padding: 10px;
  width: 260px;
  background: #f5f5f5;
}
#imageInfoBar h3 {
  margin: 1em 0;
}
#imageInfoBar ul {
  padding-left: 0;
}
.toggle_button {
  cursor: pointer;
  font-size: 2em;
  padding: 5px;
  margin: 0 10px;
  background: #f5f5f5;
  font-weight: normal;
}
.toggle_button:hover {
  color: #ffaa00;
}
#toggle_info_bar, #menuswitcher {
  margin-top: 20px;
  padding: 5px;
  cursor: pointer;
  font-size: 2em;
  padding: 5px;
  margin: 0 10px;
  background: #f5f5f5;
  font-weight: normal;
}
#toggle_info_bar:hover, #menuswitcher:hover {
  color: #ffaa00;
}
#toggle_info_bar {
  display: none;
  float: right;
  border-right: 0;
}
#menuswitcher {
  display: none;
  float: left;
  margin-left: -1px;
}
#menuTagCloud li {
  display: inline-block;
  padding-right: 0.5em;
}
#quicksearch fieldset {
  padding: 0;
}
#quicksearch input {
  background: url("../icon/search.png") no-repeat scroll 0.4em 0.4em transparent;
  padding: 0.4em 0 0.3em 2.5em;
  margin: 0.5em 0;
  color: #8f8f8f;
  width: 190px;
}
#quickconnect label {
  display: block;
  clear: both;
  width: 125px;
}
#quickconnect input[type="text"], #quickconnect input[type="password"] {
  width: 100%;
}
#quickconnect input[type="checkbox"] {
  vertical-align: middle;
}
#quickconnect .inline {
  display: inline;
}
/*************************/
/* categories thumbnails */
/*************************/
figure.category {
  float: left;
  width: 360px;
  height: 12em;
  padding: 10px;
  margin: 0 40px 10px 0;
}
figure.category figcaption {
  width: 100%;
  margin: 5px;
  padding: 10px;
}
.thumbnail {
  box-shadow: 0 1px 3px #8f8f8f;
  -moz-box-shadow: 0 1px 3px #8f8f8f;
  -webkit-box-shadow: 0 1px 3px #8f8f8f;
  margin: 10px;
}
.picture_item {
  float: left;
  margin: 12px;
  width: 150px;
  height: 180px;
  text-align: center;
  vertical-align: baseline;
}
.navigationBar {
  color: #cfcfcf;
}
.navigationBar a {
  color: #8f8f8f;
}
.navigationBar .pageNumberSelected {
  color: #8f8f8f;
  font-weight: bold;
}
/***********/
/* Picture */
/***********/
.navButtons {
  color: #cfcfcf;
}
.navButtons a {
  color: #8f8f8f;
}
#image_panel {
  padding: 30px;
  background-color: #f5f5f5;
}
#image_panel.one_col {
  margin-right: 0;
}
#image_panel.two_col {
  margin-right: 280px;
}
figure#image_wrapper {
  box-shadow: 0 1px 8px #8f8f8f;
  -moz-box-shadow: 0 1px 8px #8f8f8f;
  -webkit-box-shadow: 0 1px 8px #8f8f8f;
  background: #ffffff;
  /* Draw the picture's border */

  padding: 10px;
  margin-bottom: 20px;
  position: relative;
  /* place the nav holder inside the picture */

  margin: auto;
  /* center the picture */

  margin-bottom: 20px;
}
figure#image_wrapper figcaption {
  text-align: center;
  padding: 1em;
}
figure#image_wrapper figcaption .imageNumber {
  margin-top: -0.5em;
}
#go_to_prev_holder, #go_to_next_holder {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
}
#go_to_prev_holder {
  left: 0;
}
#go_to_next_holder {
  right: 0;
}
#go_to_prev, #go_to_next {
  display: none;
  background: none repeat scroll 0 0 #ffffff;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  color: #8f8f8f;
  margin-top: -30px;
  position: absolute;
  top: 50%;
  width: 40px;
  padding-bottom: 2px;
}
#go_to_prev {
  left: 0;
  border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
}
#go_to_next {
  right: 0;
  border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
}
.navButtons {
  font-weight: bold;
  text-align: center;
}
.navButtons .huge {
  font-size: 4em;
}
#rateForm {
  margin: 0;
}
#rateForm input, #rateForm input:active {
  cursor: pointer;
  border: none;
  padding: 0;
}
#rateForm input.rateButtonStarFull {
  background: url('../icon/rating-stars.png') no-repeat scroll -16px center;
  width: 16px;
}
#rateForm input.rateButtonStarEmpty {
  background: url('../icon/rating-stars.png') no-repeat scroll 0 center;
  width: 16px;
}
/************/
/* Comments */
/************/
#comments h3 {
  margin-bottom: 1.5em;
}
#comments ul.comment_list {
  margin: 0;
  padding: 0;
}
#comments .comment {
  margin: 15px 0;
  background-color: #fdfdfd;
  border-radius: 10px 10px 10px 0px;
  -moz-border-radius: 10px 10px 10px 0px;
  -webkit-border-radius: 10px 10px 10px 0px;
  padding: 1em;
  position: relative;
}
#comments .comment .actions {
  position: absolute;
  top: 10px;
  right: 10px;
}
#comments .comment .actions a {
  padding: 0.3em 0.8em;
  margin-right: 5px;
  background-color: #ededed;
  border: 1px solid #dcdcdc;
}
#comments .comment blockquote {
  padding-top: 20px;
}
#comments textarea {
  width: 98%;
}
/**********/
/* footer */
/**********/
footer {
  padding: 1em;
  padding-top: 1.5em;
  border-top: 1px solid #c2c2c2;
  clear: both;
  background-color: #f5f5f5;
}
/********/
/* tags */
/********/
#menuTagCloud li {
  display: inline-block;
  padding-right: 0.5em;
}
#menuTagCloud a:hover, #menuTagCloud a:focus {
  color: #ffaa00;
}
#menuTagCloud .tagLevel5 {
  font-size: 130%;
  color: #5c5c5c;
}
#menuTagCloud .tagLevel4 {
  font-size: 120%;
  color: #767676;
}
#menuTagCloud .tagLevel3 {
  font-size: 110%;
  color: #8f8f8f;
}
#menuTagCloud .tagLevel2 {
  font-size: 100%;
  color: #a9a9a9;
}
#menuTagCloud .tagLevel1 {
  font-size: 90%;
  color: #c2c2c2;
}
#fullTagCloud {
  margin: 1em auto;
  position: relative;
  width: 90%;
  text-align: center;
}
#fullTagCloud span {
  margin: 5px;
}
#fullTagCloud a:hover, #fullTagCloud a:focus {
  color: #ffaa00;
}
#fullTagCloud .tagLevel5 {
  font-size: 250%;
  color: #5c5c5c;
}
#fullTagCloud .tagLevel4 {
  font-size: 200%;
  color: #767676;
}
#fullTagCloud .tagLevel3 {
  font-size: 150%;
  color: #8f8f8f;
}
#fullTagCloud .tagLevel2 {
  font-size: 100%;
  color: #a9a9a9;
}
#fullTagCloud .tagLevel1 {
  font-size: 80%;
  color: #c2c2c2;
}
/**************************************/
/* begin chronology/calendar elements */
/**************************************/
.calendarViews {
  display: block;
  margin: 2px 0 0;
}
.calItem, .calItemEmpty {
  font-weight: bold;
  margin: 0 1px;
  border: 1px solid #8f8f8f;
  padding: 0 0.2em;
}
.calItemEmpty {
  opacity: 0.4;
}
.calItem A {
  border: 0;
}
.calendarCalBar {
  margin: 10px;
  text-align: left;
}
.calendarBar {
  padding: 5px 20px 25px 20px;
  font-weight: bold;
}
.calCalHead {
  font-weight: bold;
  font-size: 110%;
  margin: 0 2px;
}
.calCal {
  margin: 0 2px;
}
/******************************/
/* nice looking month calendar*/
/******************************/
TABLE.calMonth {
  border: 0;
  border-collapse: collapse;
  margin-bottom: 10px;
  /*<-IE ignores this */

  width: auto;
  margin: 0 auto;
  /* nullify default blueprint background color */

}
TABLE.calMonth th, TABLE.calMonth td {
  padding: 1px;
  background: #f5f5f5;
}
TABLE.calMonth th {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}
TABLE.calMonth td {
  height: 80px;
  width: 80px;
}
TABLE.calMonth tr:nth-child(2n) td, TABLE.calMonth tr.even td {
  background: #f5f5f5;
}
TABLE.calMonth tr:nth-child(2n) td.calDayCellEmpty,
TABLE.calMonth tr.even td.calDayCellEmpty,
TABLE.calMonth tr:nth-child(2n) td.calDayCellFull,
TABLE.calMonth tr.even td.calDayCellFull {
  background: #e1e1e1;
}
TABLE.calMonth TD.calDayCellFull, TABLE.calMonth TD.calDayCellEmpty {
  vertical-align: top;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid #c2c2c2;
}
TABLE.calMonth .calImg {
  height: 80px;
  width: 80px;
  overflow: hidden;
  vertical-align: bottom;
  z-index: 1;
  position: relative;
  /*<- this required by IE*/

}
TABLE.calMonth .calImg img {
  position: relative;
  border: 0;
}
TABLE.calMonth .calDayCellFull span {
  color: #FFFFFF;
  text-shadow: 1px 1px 3px black;
  padding-left: 5px;
  padding-top: 1px;
  position: absolute;
  vertical-align: top;
  z-index: 2;
}
/**********/
/* search */
/**********/
.tagSelection li {
  display: inline-block;
}
.categoryList {
  vertical-align: middle;
}

